@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject TitleService TitleService

<Title></Title>
<Download></Download>
<Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true" 
         ShowCollapseBar="true" OnCollapsed="@OnCollapsed" Menus="@GetIconSideMenuItems()">
    <Side>
        <div class="layout-banner">
            <div class="layout-title">
                <span>聚享常用工具集</span>
            </div>
        </div>
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
</Layout>

@code
{

    private IEnumerable<MenuItem> GetIconSideMenuItems()
    {
        List<MenuItem> items = new List<MenuItem>();
        MenuItem menuItem = new MenuItem
        {
            Url = "/",
            Text = "首页",
            Icon = "fa fa-home"
        };
        items.Add(menuItem);
        menuItem = new MenuItem
        {
            Text = "文本工具",
            Icon = "fa fa-file-o"
        };
        menuItem.AddItem(new MenuItem()
        {
            Text = "文本比对",
            Url = "/FileCompare",
            Icon = "fa fa-files-o"
        });
        items.Add(menuItem);
        
        menuItem = new MenuItem();
        menuItem.Text = "图片工具";
        menuItem.Icon = "fa fa-picture-o";
        menuItem.AddItem(new MenuItem()
        {
            Text = "图片转Base64",
            Icon = "fa fa-font",
            Url = "/ImageToBase64"
        });
        items.Add(menuItem);

        return items;
    }


    /// <summary>
    ///获得/设置 是否收缩侧边栏
    /// </summary>
    public bool IsCollapsed { get; set; }

    private Task OnCollapsed(bool collapsed)
    {
        IsCollapsed = collapsed;
        return Task.CompletedTask;
    }
}
