@page "/ImageResize"

@using Jx.Tools.Components

<Row ItemsPerRow="ItemsPerRow.Two">
    <h2>图片大小调整</h2>
    <Button style="float:right;" OnClick="Start">开始处理</Button>
</Row>

<Row RowType="RowType.FormRow">
    <ImageResizeCompenent></ImageResizeCompenent>
</Row>


<Row ItemsPerRow="ItemsPerRow.Three">
    
</Row>

@code {

    private List<SelectedItem> _selectedItems = new List<SelectedItem>()
    {
        new SelectedItem()
        {
            Value = "295,143",
            Text = "一寸",
            GroupName = "常用尺寸"
        },
        new SelectedItem()
        {
            Value = "295,143",
            Text = "一寸（295×413)",
            GroupName = "常用尺寸"
        },
        new SelectedItem()
        {
            Value = "413,531",
            Text = "小二寸（413×531）",
            GroupName = "常用尺寸"
        },
        new SelectedItem()
        {
            Value = "295,143",
            Text = "一寸",
            GroupName = "常用尺寸"
        },
        new SelectedItem()
        {
            Value = "295,143",
            Text = "一寸",
            GroupName = "常用尺寸"
        },
        new SelectedItem()
        {
            Value = "295,143",
            Text = "一寸",
            GroupName = "常用尺寸"
        },
    };

    private void Start()
    {
        throw new NotImplementedException();
    }

}