@page "/"

<h3>工具导航</h3>

<Table TItem="NavItem" Items="navItems" IsBordered="true" IsStriped="true">
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" Text="工具">
            <Template Context="value">
                <a href="@((value.Row as NavItem)?.Url)">@value.Value</a>
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.Description" Text="工具描述"></TableColumn>
    </TableColumns>
</Table>

@code {

    private List<NavItem> navItems = new List<NavItem>()
    {
        new NavItem(){Name = "文本比对", Description = "不按顺序比对两侧文本，显示不在另一边的文本内容。", Url = "/FileCompare"},
        new NavItem(){Name = "图片转Base64", Description = "将图片转换为Base64文本，图片不保存到服务器，无需担心泄露问题。", Url = "/ImageToBase64"},
    };


    class NavItem
    {
        public string Name { get; set; }

        public string Url { get; set; }

        public string Description { get; set; }
    } 
}